*.DS_Store

# ==================================
# Local configuration files
# ==================================
local.properties

# ==================================
# Gradle files
# ==================================
.gradle

# ==================================
# Android Studio files
# ==================================
/.idea/workspace.xml