# ==================================
# Local configuration files
# ==================================
local.properties
*.DS_Store

# ==================================
# Gradle files
# ==================================
.gradle
/.idea/workspace.xml

