<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.pivotal.arca.service">

    <application>

        <service android:name="io.pivotal.arca.service.OperationService"/>

        <service
            android:name="io.pivotal.arca.service.BackgroundService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

    </application>

</manifest>
